* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  scroll-behavior: smooth;
  color: #555;
  font-size: 30px;
  text-rendering: optimizeLegibility; /*텍스트 디스플레이를 최적화하는 메소드*/
}

/*----------------------- step 1 --------------------------*/

header {
  height: 5rem;
}

h1 {
  margin-left: 2rem;
  margin-top: 2rem;
}

label {
  margin-left: 2rem;
}

input {
  width: 35rem;
  height: 2rem;
  font-size: 0.7rem;
  margin: 0.5rem 2rem;
  border: 1px solid #555;
}

.answer {
  width: 35rem;
  height: 2rem;
  font-size: 0.7rem;
  margin: 0.5rem 2rem;
  border: 1px solid #555;
}

.button_enter {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
}

/*----------------------- step 2 --------------------------*/

#step-2-result {
  height: auto;
}

.step2-answer-button {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.step2-refresh {
  display: inline-block;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/*----------------------- step 3 --------------------------*/
#step-3-result {
  height: auto;
}

.step3-answer-button {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.step3-refresh {
  display: inline-block;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}
