* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  scroll-behavior: smooth;
  color: #555;
  font-size: 30px;
  text-rendering: optimizeLegibility;
}

.title {
  font-size: 2rem;
}

section {
  margin-bottom: 5rem;
}

section:after {
  display: block;
  height: 10px;
  background-color: rgb(47, 92, 47);
  content: " ";
  width: 50rem;
  margin-left: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/*----------------------- step 1 --------------------------*/

header {
  height: 5rem;
}

h1 {
  margin-left: 2rem;
  margin-top: 2rem;
}

label {
  margin-left: 2rem;
}

input {
  width: 35rem;
  height: 2rem;
  font-size: 0.7rem;
  margin: 0.5rem 2rem;
  border: 1px solid #555;
}

.answer {
  width: 35rem;
  height: 2rem;
  font-size: 0.7rem;
  margin: 0.5rem 2rem;
  border: 1px solid #555;
}

.button_enter {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
}

/*----------------------- step 2 --------------------------*/

#step-2-result {
  height: auto;
}

.step2-answer-button {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.step2-refresh {
  display: inline-block;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

/*----------------------- step 3 --------------------------*/
#step-3-result {
  height: auto;
  text-align: center;
}

.step3-answer-button {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
}

.step3-refresh {
  display: inline-block;
  border: 1px solid #555;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.starting-message {
  margin-top: 1rem;
  font-weight: 500;
}

.box {
  border: 1px solid #555;
  height: 3rem;
  width: 3rem;
}

#L,
#F,
#R,
#B {
  padding-top: 0.2rem;
  display: inline-block;
  margin: 0.25rem;
  text-align: center;
  vertical-align: middle;
}

#U,
#D {
  padding-top: 0.2rem;
  margin-left: 14.1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  vertical-align: middle;
}

.invisible {
  display: none;
}

/*----------------------- step3 --------------------------*/

.step3-answer-button {
  border: 1px solid #555;
  padding: 0.5rem 2rem;
  margin: 1rem 2rem;
  font-size: 1rem;
}
